[Install]
WantedBy=multi-user.target

[Unit]
Description=example service
After=network.target

[Service]
#Type=notify
User=example
Group=example
PrivateTmp=true
WorkingDirectory=/opt/example-service/
ExecStart= /opt/example-service/example
Restart=always
    # on-watchdog, on-failure
#ExecStartPre=/usr/local/bin/ste
#MemoryAccounting=true
#MemoryHigh=30%
#MemoryMax=30%
