[Install]
WantedBy=multi-user.target

[Unit]
Description=rtdts service
After=network.target

[Service]
#Type=notify
User=nvidia
Group=nvidia
PrivateTmp=true
WorkingDirectory=/opt/rtdts-service/
ExecStart= /opt/rtdts-service/rtdts
Restart=always
    # on-watchdog, on-failure
#ExecStartPre=/usr/local/bin/ste
#MemoryAccounting=true
#MemoryHigh=30%
#MemoryMax=30%
